spec:
  inputs:
    build:
      description: Build the project
      type: string
      default: nooo
      options:
        - yesss
        - nooo
    deploy-dev:
      description: Build and deploy in development environment
      type: string
      default: nooo
      options:
        - yesss
        - nooo
    deploy-prod:
      description: Build and deploy in production environment
      type: string
      default: nooo
      options:
        - yesss
        - nooo
---

stages:
  - build
  - deploy

variables:
  BUILD: $[[ inputs.build ]]
  DEPLOY_DEV: $[[ inputs.deploy-dev ]]
  DEPLOY_PROD: $[[ inputs.deploy-prod ]]
  ENVIRONMENT: $CI_COMMIT_BRANCH

.default:
  tags:
    - aaa
  resource_group: $CI_COMMIT_BRANCH
  retry: 1
  after_script:
    - echo Job started by user "$GITLAB_USER_NAME" finished with status $CI_JOB_STATUS

build:
  stage: build
  extends: .default
  image: docker.io/node:24.13.0-alpine
  cache:
    key: node-modules-$CI_PROJECT_NAME
    paths:
      - node_modules
  before_script:
    - apk update
    - apk add --no-cache docker-cli docker-cli-buildx
  script:
    - |
      if [ "$CI_COMMIT_BRANCH" = "main" ]; then
        ENVIRONMENT="production"
      elif [ "$CI_COMMIT_BRANCH" = "develop" ]; then
        ENVIRONMENT="development"
      fi

    - npm install -g @angular/cli
    - npm install --force
    - ng build --configuration $ENVIRONMENT

    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
    - docker build --push --provenance false -t $CI_REGISTRY_IMAGE:$ENVIRONMENT .
    - docker rmi $CI_REGISTRY_IMAGE:$ENVIRONMENT
  rules:
    - if: $BUILD == 'yesss'
    - if: $CI_COMMIT_BRANCH == 'develop' && $DEPLOY_DEV == 'yesss'
    - if: $CI_COMMIT_BRANCH == 'main' && $DEPLOY_PROD == 'yesss'

.deploy-template: &deploy-template
  extends: .default
  image: docker.io/alpine:3.23.3
  stage: deploy
  variables:
    SSH_CONFIG: -i $GB_SSH_PRIVATE_KEY -o StrictHostKeyChecking=no
    PROJECT_DIR: /opt/docker/compose/stacks/$CI_PROJECT_NAME
    DOCKER_CONFIG: $PROJECT_DIR/.docker
    RETRIES: 10
    TIMEOUT: 30
  before_script:
    - apk update
    - apk add --no-cache openssh-client
  script:
    - |
      if [ "$CI_COMMIT_BRANCH" = "main" ]; then
        env="prod"
        ENV="PROD"
        ENVIRONMENT="production"
      elif [ "$CI_COMMIT_BRANCH" = "develop" ]; then
        env="dev"
        ENV="DEV"
        ENVIRONMENT="development"
      fi
      
      VAR_VM_IP=${ENV}_VM_IP
      export VM_IP=$(printenv $VAR_VM_IP)
      
      VAR_SSH_PORT=${ENV}_VM_SSH_PORT
      export SSH_PORT=$(printenv $VAR_SSH_PORT)
      
      export SSH_USER_HOST="$GB_USERNAME@$VM_IP"

    - |
      if [ ! -f compose.yaml ]; then
        wget -qO compose.yaml \
        --header "PRIVATE-TOKEN: ${DEV_GITLAB_TOKEN}" \
        "$CI_API_V4_URL/projects/$TEMPLATES_PROJECT_ID/repository/files/$TEMPLATES_PROJECT_ANGULAR_COMPOSE_TEMPLATE_PATH/raw?ref=main"
      fi

    - echo -e PROJECT_NAME="$CI_PROJECT_NAME""\n"IMAGE_NAME="$CI_REGISTRY_IMAGE:$ENVIRONMENT""\n" > .env
    - echo -e ENVIRONMENT="$ENVIRONMENT""\n" >> .env

    - chmod og= $GB_SSH_PRIVATE_KEY
    - ssh $SSH_CONFIG -p $SSH_PORT $SSH_USER_HOST "mkdir -p {$PROJECT_DIR,$DOCKER_CONFIG}"
    - scp $SSH_CONFIG -P $SSH_PORT .env compose.yaml $SSH_USER_HOST:$PROJECT_DIR/

    - |
       echo $CI_REGISTRY_PASSWORD | ssh $SSH_CONFIG -p $SSH_PORT $SSH_USER_HOST \
         "DOCKER_CONFIG=$DOCKER_CONFIG docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY"
    - ssh $SSH_CONFIG -p $SSH_PORT $SSH_USER_HOST "DOCKER_CONFIG=$DOCKER_CONFIG docker compose  -f $PROJECT_DIR/compose.yaml pull"
    - ssh $SSH_CONFIG -p $SSH_PORT $SSH_USER_HOST docker compose -f $PROJECT_DIR/compose.yaml down --remove-orphans
    - ssh $SSH_CONFIG -p $SSH_PORT $SSH_USER_HOST docker compose -f $PROJECT_DIR/compose.yaml up -d
    - ssh $SSH_CONFIG -p $SSH_PORT $SSH_USER_HOST docker image prune -f || echo 'Prune already running,,, skipping...'
    - ssh $SSH_CONFIG -p $SSH_PORT $SSH_USER_HOST rm -rf $PROJECT_DIR/.env $DOCKER_CONFIG

deploy-dev:
  <<: *deploy-template
  rules:
    - if: $CI_COMMIT_BRANCH == "develop" && $DEPLOY_DEV == "yesss"

deploy-prod:
  <<: *deploy-template
  tags:
    - aaa-runner-#01
  rules:
    - if: $CI_COMMIT_BRANCH == "main" && $DEPLOY_PROD == "yesss"
