spec:
  inputs:
    java-version:
      description: Java version to use for the jobs
      type: string
      default: "25"
      options:
        - "17"
        - "21"
        - "25"
    test:
      description: Run tests
      type: string
      default: yesss
      options:
        - yesss
        - nooo
    sonar:
      description: Run SonarQube analysis
      type: string
      default: yesss
      options:
        - yesss
        - nooo
    publish:
      description: Publish the project
      type: string
      default: nooo
      options:
        - yesss
        - nooo
---

stages:
  - test
  - publish

.default:
  image: maven:3.9.12-eclipse-temurin-${JAVA_VERSION}-alpine
  retry: 1
  tags:
    - cpdi
  before_script:
    - mkdir -p .m2
    - |
      wget -qO .m2/settings.xml \
        --header "PRIVATE-TOKEN: ${DEV_GITLAB_TOKEN}" \
        "${CI_API_V4_URL}/projects/$TEMPLATES_PROJECT_ID/repository/files/$TEMPLATES_PROJECT_MAVEN_SETTINGS_XML_PATH/raw?ref=main"
  after_script:
    - echo Job started by user "$GITLAB_USER_NAME" finished with status $CI_JOB_STATUS

.cache-maven: &cache-maven
  - key: "maven-local-repo"
    paths:
      - "$MAVEN_LOCAL_REPO"

.pom-src-changeset-template: &pom-src-changeset-template
  changes:
    - pom.xml
    - src/**/*

variables:
  JAVA_VERSION: $[[ inputs.java-version ]]
  GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task

  TEST: $[[ inputs.test ]]
  SONAR: $[[ inputs.sonar ]]
  PUBLISH: $[[ inputs.publish ]]

  MAVEN_LOCAL_REPO: ".m2/repository"
  MAVEN_OPTS: "-Dmaven.repo.local=$MAVEN_LOCAL_REPO"
  MAVEN_CLI_OPTS: "-s .m2/settings.xml -ntp" # -B

test:
  stage: test
  extends: .default
  coverage: '/Total.*?(\d{1,3})%/'
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  script:
    - mvn $MAVEN_CLI_OPTS verify
    - |
      if [ "$SONAR" == "yesss" ]; then
        mvn $MAVEN_CLI_OPTS sonar:sonar || true
        grep -o "<tfoot>.*</tfoot>" target/site/jacoco/index.html
      fi
  cache:
    - *cache-maven
    - key: "sonar-cache"
      paths:
        - "${SONAR_USER_HOME}/cache"
  rules:
    - if: $TEST == "yesss"
      <<: *pom-src-changeset-template
  artifacts:
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
      coverage_report:
        coverage_format: jacoco
        path: target/site/jacoco/jacoco.xml

publish:
  stage: publish
  extends: .default
  needs:
    - test
  resource_group: $CI_COMMIT_BRANCH
  script:
    - mvn $MAVEN_CLI_OPTS deploy -DskipTests=true
  cache:
    - *cache-maven
  rules:
    - if: $CI_COMMIT_BRANCH == "main" && $PUBLISH == "yesss"
      <<: *pom-src-changeset-template
