x-common : &common
  networks:
    - antonio3a-bridge
  restart: always

services:
  vault:
    <<: *common 
    image: hashicorp/vault:1.18.1
    container_name: antonio3a-vault
    hostname: vault.antonio3a.aaa
    volumes:
      - antonio3a-vault-logs-vol:/vault/logs
      - antonio3a-vault-file-vol:/vault/file
      - ${AAA_HOME}/vault/config/local.json:/vault/config/local.json
    environment:
      VAULT_ADDR: http://127.0.0.1:8200
      VAULT_API_ADDR: http://127.0.0.1:8200
    ports:
      - '8200:8200'
    cap_add:
      - IPC_LOCK
    command: server
    #vault status
    #vault operator init

  vault-unseal:
    <<: *common 
    image: blockloop/vault-unseal
    container_name: antonio3a-vault-unseal
    hostname: vault-unseal.antonio3a.aaa
    environment:
      VAULT_ADDR: http://vault.antonio3a.aaa:8200
      VAULT_VERSION: 1.18.1
      VAULT_UNSEAL_KEY_1:
      VAULT_UNSEAL_KEY_2:
      VAULT_UNSEAL_KEY_3:
      VAULT_UNSEAL_KEY_4:
      VAULT_UNSEAL_KEY_5:
    volumes:
      - antonio3a-vault-logs-vol:/vault/logs
      - antonio3a-vault-file-vol:/vault/file
    depends_on:
      - vault

networks:
  antonio3a-bridge:
    external: true

volumes:
  antonio3a-vault-logs-vol:
    external: true
  antonio3a-vault-file-vol:
    external: true
