x-common: &common
  networks:
    - aaa-bridge
  restart: unless-stopped

services:
  elasticsearch:
    <<: *common
    image: elasticsearch:${ELASTIC_VERSION}
    container_name: elasticsearch
    hostname: elasticsearch.antonio3a.aaa
    environment:
      - node.name=es0
      - cluster.name=es-cluster
      #- cluster.initial_master_nodes=es#
      - discovery.type=single-node
      #- discovery.seed_hosts=es[1-n]
      - ELASTIC_PASSWORD=${AAA_PASS}
      - xpack.security.enabled=true
      - xpack.security.http.ssl.enabled=true
      - xpack.security.http.ssl.key=certs/antonio3a.aaa.key
      - xpack.security.http.ssl.certificate=certs/antonio3a.aaa.crt
      - xpack.security.http.ssl.certificate_authorities=certs/antonio3a-ca.crt
      - xpack.security.transport.ssl.enabled=true
      - xpack.security.transport.ssl.key=certs/antonio3a.aaa.key
      - xpack.security.transport.ssl.certificate=certs/antonio3a.aaa.crt
      - xpack.security.transport.ssl.certificate_authorities=certs/antonio3a-ca.crt
      - xpack.security.transport.ssl.verification_mode=certificate
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - ${AAA_HOME}/ssl/certs/antonio3a:/usr/share/elasticsearch/config/certs
      - elasticsearch-data-vol:/usr/share/elasticsearch/data
    deploy:
      resources:
        limits:
          memory: 1G

  logstash:
    <<: *common
    image: logstash:${ELASTIC_VERSION}
    container_name: logstash
    hostname: logstash.antonio3a.aaa
    volumes:
      - ${AAA_HOME}/logstash/pipeline:/usr/share/logstash/pipeline
      - ${AAA_HOME}/logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml
      - ${AAA_HOME}/logstash/config/pipelines.yml:/usr/share/logstash/config/pipelines.yml
      - ${AAA_HOME}/ssl/certs/antonio3a:/usr/share/logstash/config/certs
    ports:
      - "5000:5000"
      #- "9600:9600"
    depends_on:
        elasticsearch:
          condition: service_started

  kibana:
    <<: *common
    image: kibana:${ELASTIC_VERSION}
    container_name: kibana
    hostname: kibana.antonio3a.aaa
    environment:
      - SERVERNAME=kibana
      - SERVER_PUBLICBASEURL=https://kibana.antonio3a.net
      - ELASTICSEARCH_HOSTS=https://elasticsearch.antonio3a.aaa:9200
      - ELASTICSEARCH_SERVICEACCOUNTTOKEN=token
      - ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=/usr/share/kibana/config/certs/antonio3a-ca.crt
      - SERVER_SSL_ENABLED=true
      - SERVER_SSL_KEY=/usr/share/kibana/config/certs/antonio3a.aaa.key
      - SERVER_SSL_CERTIFICATE=/usr/share/kibana/config/certs/antonio3a.aaa.crt
      - SERVER_SSL_CERTIFICATEAUTHORITIES=/usr/share/kibana/config/certs/antonio3a-ca.crt
      - XPACK_SECURITY_ENCRYPTIONKEY=${ENCRYPTION_KEY}
      - XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=${ENCRYPTION_KEY}
      - XPACK_REPORTING_ENCRYPTIONKEY=${ENCRYPTION_KEY}
    ports:
      - "5601:5601"
    depends_on:
      elasticsearch:
        condition: service_started
    volumes:
      - ${AAA_HOME}/ssl/certs/antonio3a:/usr/share/kibana/config/certs
      - kibana-data-vol:/usr/share/kibana/data

  fleet-server:
    depends_on:
      kibana:
        condition: service_healthy
      es01:
        condition: service_healthy
    image: docker.elastic.co/beats/elastic-agent:${STACK_VERSION}
    volumes:
      - certs:/certs
      - fleetserverdata:/usr/share/elastic-agent
      - "/var/lib/docker/containers:/var/lib/docker/containers:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/sys/fs/cgroup:/hostfs/sys/fs/cgroup:ro"
      - "/proc:/hostfs/proc:ro"
      - "/:/hostfs:ro"
    ports:
      - ${FLEET_PORT}:8220
      - ${APMSERVER_PORT}:8200
    user: root
    environment:
      - SSL_CERTIFICATE_AUTHORITIES=/certs/ca/ca.crt
      - CERTIFICATE_AUTHORITIES=/certs/ca/ca.crt
      - FLEET_CA=/certs/ca/ca.crt
      - FLEET_ENROLL=1
      - FLEET_INSECURE=true
      - FLEET_SERVER_ELASTICSEARCH_CA=/certs/ca/ca.crt
      - FLEET_SERVER_ELASTICSEARCH_HOST=https://es01:9200
      - FLEET_SERVER_ELASTICSEARCH_INSECURE=true
      - FLEET_SERVER_ENABLE=1
      - FLEET_SERVER_CERT=/certs/fleet-server/fleet-server.crt
      - FLEET_SERVER_CERT_KEY=/certs/fleet-server/fleet-server.key
      - FLEET_SERVER_INSECURE_HTTP=true
      - FLEET_SERVER_POLICY_ID=fleet-server-policy
      - FLEET_URL=https://fleet-server:8220
      - KIBANA_FLEET_CA=/certs/ca/ca.crt
      - KIBANA_FLEET_SETUP=1
      - KIBANA_FLEET_USERNAME=elastic
      - KIBANA_FLEET_PASSWORD=${ELASTIC_PASSWORD}
      - KIBANA_HOST=https://kibana:5601

networks:
  aaa-bridge:
    external: true

volumes:
  elasticsearch-data-vol:
  kibana-data-vol: