x-common: &common
  networks:
    - antonio3a-bridge
  restart: unless-stopped

services:
  kafka:
    image: bitnami/kafka:3.8.0
    container_name: kafka
    hostname: kafka.antonio3a.aaa
    environment:
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka.antonio3a.aaa:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka.antonio3a.aaa:9092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
    ports:
      - "9092:9092"
    volumes:
      - kafka-vol:/bitnami/kafka
    <<: *common

  kafka-ui:
    image: provectuslabs/kafka-ui:v0.7.2
    container_name: kafka-ui
    hostname: kafka-ui.antonio3a.aaa
    environment:
      - DYNAMIC_CONFIG_ENABLED=true
    ports:
      - "8280:8080"
    <<: *common

  rabbitmq:
    image: rabbitmq:4.0.5-management
    container_name: rabbitmq
    hostname: rabbitmq.antonio3a.aaa
    ports:
      - "5672:5672"
      - "15672:15672"
      - "61613:61613"
    environment:
      RABBITMQ_DEFAULT_USER: ${AAA_USER}
      RABBITMQ_DEFAULT_PASS: ${AAA_PASS}
    volumes:
      - rabbitmq-vol:/var/lib/rabbitmq
      - ${AAA_HOME}/rabbitmq/enabled_plugins:/etc/rabbitmq/enabled_plugins
    <<: *common

networks:
  antonio3a-bridge:
    external: true

volumes:
  kafka-vol:
    external: true
  rabbitmq-vol:
    external: true
